@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tesla';
  src: url(./fonts/tesla/TESLA.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 300px;
}

.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.car-card::-webkit-scrollbar {
  width: 0px;
}

